.table_container {
    width: 100%;
    overflow-y: scroll;
    .table {
        width: 100%;
        border-collapse: collapse;
        flex: 1;
        thead {
            position: sticky;
            z-index: 2000;
            top: 0;
            tr {
                background-color: #EDF7FF;
                border-top: 2px solid $contrast;
                border-bottom: 2px solid $contrast;
                // box-shadow: 0 1px 1px $contrast;
                th {
                    position: relative;
                    white-space: nowrap;
                    button {
                        padding: 10px;
                        width: 90%;
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-weight: 500;
                        display: flex;
                    }
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 5px;
                        transition: transform .1s linear;
                        
                    }
                    .inactive_filter {
                        
                    }
                    .active_filter {
                        transform: rotate(180deg);
                    }
                    .resizer {
                        position: absolute;
                        right: -8px;
                        bottom: 0;
                        height: 100%;
                        width: 6px;
                        z-index: 3000;
                        cursor: ew-resize;
                    }

                }
                th:not(:last-child) {
                    box-shadow: 1px 0px -0px 0 $contrast;
                }
                th:first-child {
                    button {
                        padding: 10px 20px;
                    }
                }
            }
        }
        tbody {
            tr {
                cursor: pointer;
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
                td {
                    text-align: start;
                    padding: 0 10px;
                    font-weight: 300;
                    div {
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                td:not(:last-child) {
                    box-shadow: 1px 0px -0px 0 $contrast;
                }
                .name_column {
                    padding: 5px 5px 5px 20px;
                    span {
                        display: inline-block;
                        transform: rotate(-90deg);
                        margin-right: 5px;
                    }
                    
                    .table_folder_opened {
                        transform: rotate(0deg);
                    }
                }
                .folder_name_column {
                    padding: 5px 5px 5px 18px;
                }
                .article_column {}
                .type_column {}
            }
            .odd_row {
                background-color: #E2EBF1;
            }
            .selected_row {
                background-color: rgba(141, 188, 221, .5);
            }
        }
    }
}