.default {
    width: 100%;
    background-color: $white;
    border-radius: 45px;
    border: 1px solid $white;
    outline: none;
    padding: 10px 40px 10px 15px;
}

.default::placeholder {
    color: $main;
}

.goods-filter-search {
    padding: 5px 15px;
    border-radius: 65px;
    border: 1px solid $contrast;
    outline: none;
    margin: 0 5px;
}