.contextMenu_container {
    border-radius: 17px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 2002;
    overflow: hidden;
    padding: 10px 0;
    .divider {
        width: 80%;
        margin: 5px 10%;
        height: 1px;
        display: block;
        background-color: #E2EBF1;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li:hover {
            background-color: #A6D4F3;
            margin: 0;
        }
    }
}